---
import Layout from '../layouts/Layout.astro';
import Dep from '../components/Dep.astro';
---
<Layout>
  <section class="bg-white py-16 px-4">
    <div class="max-w-screen-xl mx-auto">
      <h1 class="text-4xl font-bold text-gray-900 text-center mb-8">Représentation des lieux culturelles par départements en Bourgogne Franche-Comté.</h1>
      <p class="text-center text-gray-700 text-lg max-w-3xl mx-auto mb-8">
L'objectif est de démontrée la proportion des lieux culturels dans les les différentes régions de Bourgogne Franche-Comté. On peut lier cette représentation de données aux gares et aires de covoiturage afin que l'utilisateur puisse savoir s'il est facile ou non d'accéder aux lieux culturels d'une région grâce aux mobilités durables (train et covoiturage).

        <Dep />
    </div>
  </section>
</Layout>
